<html>
    <head>
        <title>Upload Info</title>
    </head>
    <body>
        <form method="POST" action="" enctype="multipart/form-data">
            <div>
                {{ form.name.label }}
                {{ form.name }}
                <br />
                {{ form.contact.label }}
                {{ form.contact }}
                <br />
                {{ form.email.label }}
                {{ form.email }}
                <br />
                {{ form.resume.label }}
                {{ form.resume }}
                <br />
                {{ form.submit }}
            </div>
        </form>
    </body>
</html>
